
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}
.logo{
    cursor: pointer;
    margin-right: auto;
    color: darkcyan;
}
.nav-links{
    list-style:none;
    color: darkcyan;
}
.nav-links li{
     display: inline;
     padding: 6px 20px;
     color: darkcyan;
}
.nav-links li a{
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover{
    color: darkcyan;
}


li, a, button{
    font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 16px;
color: darkcyan;
text-decoration: none;
}
header{
    display: flex;
    justify-content: flex-end ;
    align-items: center;
    padding: 30px 10%;
}
 
body{
    margin:0;
    padding:0;
    font-family:consolas;
}
section{
    position: relative;
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffff;
    color: darkcyan;

}
section .content{
    max-width: 80%;
}
section .content h2{
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 3em;
    transition: 0.5s;
    transform-origin: left;
    transform: scaleX(1);
}
section .content h2::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(46, 46, 107);
    transform-origin: right;
    transition: 0.5s;
}

section .content h3{
    position: relative;
    margin: 5px 0 0;
    padding: 0;
    display: inline-block;
    font-size: 2em;
    transition: 0.5s;
    transform-origin: right;
    transform: scaleX(1);
}
section .content h3::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(66, 66, 221);
    transform-origin: right;
    transition: 0.5s;
}