*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;

}
body{
    font-family:consolas;
}
nav{
    background:darkcyan;
    height: 80px;
    width: 100%;
}
label.logo{
    color: rgb(204, 231, 231);
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
color: #ffff;
font-size: 17px;
padding: 7px 13px;
text-transform: uppercase;
border-radius: 3px;
}
a.active,a:hover{
    background:rgb(50, 124, 136);
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #ffff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;

}
#check{
    display: none;
}
@media (max-width:952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
}
nav ul li a{
font-size: 16px;
}

}
@media (max-width:858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
    transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
section{}





/* body text this is after nav bar focusing on text animations

CREADTED BY OPAULO

*/






*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    background: #ffff;
}
.container{
margin-top: 150px;
margin-left: 90px;
width: 80%;
}






.div{
    color: darkcyan;
    font-family:consolas;

}